@charset "UTF-8";

@font-face {
    font-family:"Titulo";
    src: url(Fontes/daydream_3/Daydream.ttf);
}
@font-face {
    font-family: "Global";
    src: url(Fontes/coolvetica/coolvetica\ condensed\ rg.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --laranja_claro: #d97c2b;
    --laranja:#f24405;
    --terracota:#BF2604;
    --marsala:#731702;
    --preto:#0D0D0D;

}

body {
    background-color:var(--preto);
    font-family:Global;
    width:100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    font-family: Titulo;
    color: var(--laranja);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
}

.placar {
    background-color: #bf2604b0;
    width:650px;
    height:500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.pontuacao {
    width:650px;
    display: flex;
    justify-content: space-around;

}

.jogadas {
    width:650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogadas h2 {
    font-size: 45px;
    font-weight: 200;
    color:white;
    margin-bottom: 1%;
}

.opcoes {
    width:650px;
    display: flex;
    justify-content: space-around;
    background-color: #d97c2b79;
    border-radius: 27px;
    padding: 3%;
}

.placar p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.jg1 {
    width: 200px;
    height: 50px;
    color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    
}

.jg1 h2 {
    font-weight: 200;
}

.robo {
    width: 200px;
    height: 50px;
    color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
}

.robo h2 {
    font-weight: 200;
}

.img1 {
    width: 400px;
    height: 450px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1 img {
    width: 250px;
}

.img1 h2 {
    font-size: 50px;
    color: var(--laranja);
}

.img2 {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img2 img {
    width: 350px;
}

.img2 h2 {
    font-size: 50px;
    color: var(--laranja);
}

.jogada_jg1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.jogada_jg1 h2 {
    font-size: 45px;
    font-weight: 200;
    color: white;
}

.jogada_robo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.jogada_robo h2 {
    font-size: 45px;
    font-weight: 200;
    color: white;
}

.jogada_escolhida {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#je_1,  #je_2, #je_3{
    display:none;
}

#robo_1, #robo_2, #robo_3 {
    display:none;
}






/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------IMPORTAÇÃO DOS ICONES----------------------------------------------------------------*/


.twemoji--rock::after {
    cursor: pointer;
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2366757f' d='M12 4.157s4-1.075 5-1.075s5 1.075 5 1.075s4 4.298 5 4.298c0 0 2 0 4 2.149s2 6.447 2 6.447s2 4.298 2 6.447s-1 4.298-2 5.373c-1 1.075-5 2.149-5 2.149s-1 2.149-3 3.224c-6 1.075-10 0-10 0l-2-2.149S6 31.02 5 31.02s-4-4.298-4-5.373c0-1.075 0-4.298 1-7.522c2-3.224 3-4.298 3-4.298S4 11.679 5 9.53c2-2.149 6-3.224 6-3.224z'/%3E%3Cpath fill='%2399aab5' d='M12.409 4.49s3.633-1.021 4.574-1.021c.941 0 4.99 1.149 4.99 1.149s3.574 4.022 4.515 4.022c0 0 2.038-.045 3.921 1.979s1.708 5.617 1.708 5.617S34 20.282 34 22.305s-.941 4.047-1.882 5.059c-.941 1.012-4.706 2.023-4.706 2.023s-.941 2.023-2.824 3.035c-5.647 1.012-9.412 0-9.412 0l-1.882-2.023s-6.588-1.012-7.529-1.012S2 25.34 2 24.328c0-1.012 0-4.047.941-7.082C4.824 14.211 5.765 13.2 5.765 13.2s-1.188-1.643-.247-3.667C7.4 7.51 11.399 6.469 11.399 6.469z'/%3E%3Cpath fill='%23ccd6dd' d='M12.771 5.312s3.398-.892 4.278-.892c.88 0 4.667 1.003 4.667 1.003s3.342 3.511 4.222 3.511c0 0 1.906-.039 3.667 1.727c1.76 1.766 1.598 4.903 1.598 4.903s.275 4.245.988 4.373c1.81.324.167 3.713-.713 4.596s-7.01 1.277-7.01 1.277s.216 2.755-1.545 3.639c-5.281.883-7.565.246-7.565.246l-1.76-1.766s-4.29-4.097-5.17-4.097s-5.393-.319-5.393-1.202s0-3.533.88-6.182c1.76-2.649 2.641-3.533 2.641-3.533s-1.111-1.435-.231-3.201c1.76-1.766 5.5-2.675 5.5-2.675z'/%3E%3Cpath fill='%2399aab5' d='m6.29 12.597l3.981 1.851l-2.08 1.468l-4.274.532z'/%3E%3Cpath fill='%2366757f' d='M1.597 21.981s1.129 3.766 1.426 4.213s4.099.128 4.574.128c.475 0 2.792 1.213 2.792 1.213s-3.089.83-4.158.702c-1.069-.128-3.848-.627-4.099-1.341s-.535-4.915-.535-4.915'/%3E%3Cpath fill='%23e1e8ed' d='M7.3 9.597c.49-.155 3.861-1.596 4.574-1.532c.713.064 3.743 1.787 3.03 2.362s-4.634.128-5.762.128S6.29 9.916 7.3 9.597m-2.376 7.724c.303-.571 4.337-.766 4.337-.766s5.228 2.107 5.228 2.426s-4.752 2.49-5.228 2.553s-4.575-3.766-4.337-4.213m11.703 3.894c-.094-.505 2.02-3.575 2.436-3.83c.416-.255 6-1.724 6.95-1.724s3.98 2.234 4.04 2.681c.059.447-2.673 3.511-3.386 3.766c-.713.256-9.862.064-10.04-.893m5.347-8.427c-.225.537 5.347 1.277 5.941 1.021c.594-.255 1.663-1.979 1.485-2.426c-.178-.447-1.901-1.724-2.792-1.596c-.892.129-4.1 1.725-4.634 3.001m-4.396-7.851c.498.107 3.802.894 4.218 1.532s-1.96 2.617-2.614 2.681c-.653.064-5.109-2.681-5.584-3s3.088-1.405 3.98-1.213'/%3E%3Cpath fill='%2366757f' d='M13.063 31.364c-.416-.638.238-2.745.594-2.49s1.426 1.021 1.485 1.66c.059.638 1.129 1.851 1.901 2.234s4.99.383 5.703.128c.713-.255 2.376-1.66 2.792-2.49s.896-.891 1.874-1.02s1.922.844.588 1.634c-1.333.79-2.759 2.195-4.422 2.514c-1.663.319-7.069.575-8.02.192c-.951-.383-2.495-2.362-2.495-2.362'/%3E%3Cpath fill='%2399aab5' d='M20.2 26.754c-.501-.269-.688-2.495-.43-2.68s2.666.185 3.225.277c.559.092 3.956-.185 4.3.185s1.173 1.726 1.462 2.541c.289.816-1.591.693-2.322.508s-5.547-.461-6.235-.831m-7.613-14.732c.653 0 3.386-.064 3.98 0c.594.064 2.495 1.851 1.604 2.043c-.891.192-3.267.83-3.624.894s-1.663-1.149-2.079-1.468c-.415-.32-.593-1.469.119-1.469m7.486-1.787c.33-.531 1.604-.702 1.663-.128c.059.575-.297 1.851-1.01 1.787c-.713-.063-1.129-.893-.653-1.659m-3.446 13.469c.593-.071 1.723-.192 1.723.319s-.713.702-1.545.638c-.831-.063-.713-.893-.178-.957'/%3E%3Cpath fill='%23e1e8ed' d='M14.31 16.619c.519-.446 2.317-.511 2.733-.319c.416.192-.475 1.532-1.01 1.596c-.535.063-2.317-.767-1.723-1.277'/%3E%3Cpath fill='%2366757f' d='M26.191 26.385c.593-.159 2.02-.319 1.96.128c-.059.447-.653 1.277-1.129 1.213s-1.306-1.213-.831-1.341m-3.861 4.469c.656-.109 1.663-.638 1.604 0c-.059.638-.772 1.468-1.545 1.341c-.772-.128-.831-1.214-.059-1.341'/%3E%3C/svg%3E");
  }

  .guidance--paper::after {
    cursor: pointer;
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ffffff' d='M13.5 1.5v7h7m-16-7v21h16V8l-.282-.126a12 12 0 0 1-6.092-6.092L14 1.5z'/%3E%3C/svg%3E");
  }

  .noto--scissors::after {
    cursor: pointer;
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%2382aec0' d='M36.61 123.93L85.17 54.6l-7.99-15.61c-6.69 4.63-21.21 14.68-23.41 16.07c-.59.37-1.04.9-1.3 1.54c0 0-16.48 42.97-19.16 49.93c-2.91 7.57-2.96 10.64-2.21 12.9c.65 1.99 5.51 4.5 5.51 4.5'/%3E%3Cpath fill='%23de3e31' d='M112.73 5.68c-10.25-4.65-22.88 1.09-28.21 12.83c-2.13 4.69-2.17 10.11-2.15 12.14c.03 2.8-4.29 6.87-5.66 8.08c-.24.21-.29.56-.13.83l8.4 14.64c.22.38.73.45 1.05.15l1.68-1.6c4.65-3.59 8.96-3.37 10.63-3.13c9.08 1.29 18.79-4.35 23.29-14.26c5.34-11.74 1.35-25.03-8.9-29.68m-15.44 34c-6.15-2.79-8.54-10.76-5.35-17.8c3.2-7.04 10.77-10.49 16.92-7.7c6.15 2.79 8.54 10.76 5.35 17.8c-3.19 7.05-10.77 10.5-16.92 7.7'/%3E%3Ccircle cx='64' cy='62.87' r='4.55' fill='%23a8e3f0'/%3E%3Cpath fill='%232f7889' d='m49.17 65.19l11.48 24.42l3.82-5.46L49.9 63.29zm28.65-.1l2.61-3.72l-1.89-5.18c-.68-2-.97-3.01-2.27-3.63l-11.53-4.98l-1.24.86z'/%3E%3Cpath fill='%2382aec0' d='M91.39 123.93L42.83 54.6l7.72-15.8C57.11 43.34 72 53.65 74.23 55.05c.59.37 1.04.9 1.3 1.54c0 0 16.48 42.97 19.16 49.93c2.91 7.57 2.96 10.64 2.21 12.9c-.65 2-5.51 4.51-5.51 4.51'/%3E%3Cpath fill='%23b9e4ea' d='m60.05 76.15l-3.02-1.29l34.36 49.06s3.7-3.95-1.02-11.23L69.41 83.96a21.214 21.214 0 0 0-9.36-7.81'/%3E%3Ccircle cx='64' cy='62.87' r='4.55' fill='%23b9e4ea'/%3E%3Cpath fill='%23de3e31' d='M6.36 35.36c4.5 9.92 14.21 15.55 23.29 14.26c1.67-.24 5.97-.46 10.63 3.13l1.68 1.6c.32.3.83.23 1.05-.15l8.4-14.64c.16-.28.11-.62-.13-.83c-1.36-1.21-5.69-5.28-5.66-8.08c.02-2.03-.02-7.45-2.15-12.14C38.15 6.77 25.52 1.03 15.27 5.68S1.03 23.62 6.36 35.36m7.43-3.37c-3.2-7.04-.8-15.01 5.35-17.8c6.15-2.79 13.72.65 16.92 7.7c3.2 7.04.8 15.01-5.35 17.8c-6.15 2.79-13.73-.66-16.92-7.7'/%3E%3Cpath fill='%23ff7555' d='M92.67 10.75c-.6.71-.95 1.76-.38 2.65c.63.99 3.45 1.1 9.37-3.02c1.65-1.15 1.23-2.83-.8-3.1c-2.93-.45-6.39 1.17-8.19 3.47m-74.96.95c-2.5 1.43-3.56 2.27-5.58 5.62c-.63 1.04-2.06 3.73-3.49 2.51c-.94-.8-.87-2.65-.28-4.33c1.21-3.41 3.29-5.91 6.21-7.39c1.05-.53 3.63-1.36 5.06-.8c2.8 1.09.28 3.14-1.92 4.39'/%3E%3C/svg%3E");
  }