@charset "UTF-8";

@font-face {
    font-family:"Titulo";
    src: url(Fontes/daydream_3/Daydream.ttf);
}
@font-face {
    font-family: "Global";
    src: url(Fontes/coolvetica/coolvetica\ condensed\ rg.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --laranja_claro: #d97c2b;
    --laranja:#f24405;
    --terracota:#BF2604;
    --marsala:#731702;
    --preto:#0D0D0D;

}

body {
    background-color:var(--preto);
    font-family:Global;
    width:100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    font-family: Titulo;
    color: var(--laranja);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
}

.placar {
    background-color: #bf2604b0;
    width:450px;
    height:450px;
    border-radius: 30px;
}

.img1 {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1 img {
    width: 250px;
}

.img1 h2 {
    font-size: 50px;
    color: var(--laranja);
}

.img2 {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img2 img {
    width: 350px;
}

.img2 h2 {
    font-size: 50px;
    color: var(--laranja);
}